@model List<Survey>
@{
    ViewBag.Title = "نظر سنجی";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
@section head{
    <link href="@Url.Content(Links.Content.Styles.Console._03_EndUser.Survey.index_min_css)" rel="stylesheet" />
}
<form method="post" class="row" id="survey" action="@Url.Action(MVC.Survey.ActionNames.Submit,MVC.Survey.Name)">

    <div class="col-xs-12 col-sm-12">
        @{
            var i = 0;
            foreach (var survey in Model)
            {
                <input type="hidden" name="options[@i].SurveyId" value="@survey.SurveyId" />
                <div class="card">
                    <div class="row">
                        <div class="col-xs-12 heading">
                            <label class="subject">@Html.DisplayNameFor(x => x[0].Subject): @survey.Subject</label>
                        </div>
                        <div class="col-xs-12">
                            <ul class="body">
                                @foreach (var item in survey.SurveyOptions)
                                {
                                    var id = "opt_" + item.SurveyOptionId.ToString();
                                    <li class="opt">
                                        <div class="flex-sb-m w-full">
                                            <div class="contact100-form-checkbox">
                                                <input class="input-checkbox100" id="@id" type="radio" name="options[@i].SelectedOption" value="@item.SurveyOptionId" />
                                                <label class="label-checkbox100" for="@id">
                                                    @Html.Raw(item.Text)
                                                </label>
                                            </div>
                                        </div>

                                    </li>
                                }

                            </ul>
                        </div>
                        <hr />
                    </div>
                </div>
                i++;
            }
        }

        <div class="card">
            <div class="row">
                <div class="col-xs-12 heading">
                    لطفا اگر پیشنهاد یا انتقادی دارید مطرح بفرمایید: (اختیاری)
                </div>
                <div class="col-xs-12">
                    <textarea rows="5" style="width:100%"></textarea>
                </div>
                <hr />
            </div>
        </div>
    </div>

    <div class="col-xs-12  col-sm-12 mb-15">
        <button type="submit" class="btn-action rtl waves-effect" id="btn-submit">
            <div class="text">
                @LocalMessage.Submit
            </div>
            <div class="icon">
                <i class="zmdi zmdi-floppy"></i>
            </div>
        </button>
    </div>

</form>
