@model AddButtonModel
@{
    Layout = null;
    var showSurveyLink = (bool)(ViewBag.ShowSurveyLink ?? false);
}

@if (!Model.IsDisableAddButton)
{
    <div class="text-left m-b-20 o-f-h">
        <a class="btn-action rtl waves-effect next-panel" id="addNewItem" add-new-item-modal="@($"{Model.EntityName ?? "EntityName"}")" data-form-url="@(Model.FormUrl)" data-modal-title="@Model.ModalTitle" href="">
            <div class="text">
                @Model.Title
            </div>
            <div class="icon">
                <i class="zmdi zmdi-plus"></i>
            </div>
        </a>
        @*<a id="addNewItem" add-new-item-modal="@($"{Model.EntityName ?? "EntityName"}")" data-form-url="@(Model.FormUrl)" data-modal-title="@Model.ModalTitle" href="" class="btn btn-success waves-effect p-0">
                <i class="zmdi zmdi-plus btn-icon"></i>
                <div class="btn-text">
                    @Model.Title
                </div>
            </a>*@
        @if (showSurveyLink)
        {
            <div style="width: 170px; text-align: revert; float: left; margin-left: 10px;">
                <h6 class="copy-value" data-copy-value="@(AppSettings.BaseDomain+"/Survey/Index")" style="padding: 8px; border: solid 1px #ccc; border-radius: 3px; text-align: right; background-color: #ccc;">
                    <i style="font-size: 20px; vertical-align: middle; margin-left: 5px;" class="zmdi zmdi-copy"></i>کپی لینک نظر سنجی
                </h6>
            </div>
        }

    </div>
}

@{Html.RenderPartial(MVC.Shared.Views.Partials._SharedModal, Model.ModalConfig);}
