@model Order
@{
    ViewBag.Title = "پرداخت سفارش";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
    var completePayment = ((bool)ViewBag.CompletePayment);
}
@section head{
    <link href="@Url.Content(Links.Content.Styles.Shared.flickity_min_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Console.Address.common_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Shared.sweetalert_css)" rel="stylesheet" />
    <link href="@Url.Content(Links.Content.Styles.Console._03_EndUser.Home.payment_min_css)" rel="stylesheet" />
}
<form class="row" id="order-payment" action="@Url.Action(MVC.Home.ActionNames.Submit,MVC.Home.Name)">
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.OrderId)
    @Html.Hidden("PaymentGatewayId", (int)ViewBag.PaymentGatewayId)
    <div class="col-xs-12">
        <div class="card">
            <div class="row">
                <div class="col-xs-12 heading">
                    <h5 class="hx">
                        <label>اطلاعات سفارش</label>
                    </h5>
                </div>
            </div>
            <ul class="order row mb-15">
                <li class="col-xs-12 col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>@Html.DisplayNameFor(x => x.User.FullName) : <span>@Model.User.FullName</span></span>
                </li>
                <li class="col-xs-12  col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>@Html.DisplayNameFor(x => x.User.MobileNumber) : <span>@Model.User.MobileNumber</span></span>
                </li>
                <li class="col-xs-12  col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>آدرس : @(Model.AddressId == null ? "---" : Model.Address.FullAddress)</span>
                </li>
                <li class="col-xs-12 col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>@Html.DisplayNameFor(x => x.OrderId) : <span>@Model.OrderId</span></span>
                </li>
                <li class="col-xs-12  col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>@Html.DisplayNameFor(x => x.InsertDateSh) : @Model.InsertDateSh ساعت :: @Model.InsertDateMi.Hour:@Model.InsertDateMi.Minute</span>
                </li>
                <li class="col-xs-12  col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>@Html.DisplayNameFor(x => x.DeliverFiles_DateSh) : @(Model.DeliverFiles_DateSh == null ? $"{Model.DayToDelivery} روز کاری" : Model.DeliverFiles_DateSh)</span>
                </li>
                <li class="col-xs-12 col-sm-6">
                    <i class="zmdi zmdi-chevron-left f-s-20 color-blue v-a-m"></i>
                    <span>@Html.DisplayNameFor(x => x.OrderTitle) : @Model.OrderTitle</span>
                </li>
            </ul>
            @if (!completePayment)
            {
                <div class="row mb-15" id="delivery-types">
                    <div class="col-xs-12 heading">
                        <h5 class="hx">
                            <label>نحوه تحویل</label>
                        </h5>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            @foreach (var item in EnumConvertor.GetEnumElements<DeliveryType>().ToList())
                            {
                                <div class="col-xs-12 col-sm-4 p-r-0 wrapper">
                                    <div class="radio-wrapper @(item.Name == nameof(DeliveryType.ByDeliveryMan) ? "activate" : "")  ">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="DeliveryType" value="@item.Name" class="custom-control-input" @(item.Name == nameof(DeliveryType.ByDeliveryMan) ? "checked" : "") />
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">@item.Description</span>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>

                <div class="row mb-15" id="addresses">
                    <div class="col-xs-12 heading mb-15">
                        <h5 class="hx">
                            <label>تعیین آدرس</label>
                        </h5>
                    </div>
                    <div class="col-xs-12">
                        @{Html.RenderPartial(MVC.Address.Views.Partial._ListAddress, (List<Address>)ViewBag.Addresses); }
                    </div>
                </div>

                <hr />
                <div class="row mb-15">
                    <dov class="col-xs-12">
                        <div class="checkbox-group">
                            <input class="input-checkbox100" id="@nameof(Model.NeedDraft)" type="checkbox" name="@nameof(Model.NeedDraft)" @(Model.NeedDraft ? "checked" : "") />
                            <label class="label-checkbox100" for="@nameof(Model.NeedDraft)">
                                @Html.DisplayNameFor(x => x.NeedDraft)
                            </label>
                        </div>

                    </dov>

                </div>
            }

            <div class="row">
                <div class="col-xs-12 heading  mb-15">
                    <h5 class="hx">
                        <label>اقلام سفارش</label>
                    </h5>
                </div>
                @if (ViewBag.Warnings != null && ((List<string>)ViewBag.Warnings).Any())
                {
                    <div class="col-xs-12 mb-15">
                        <div class="alert alert-warning">
                            <ul>
                                @foreach (var desc in (List<string>)ViewBag.Warnings)
                                {
                                    <li class="m-b-10">@desc</li>
                                }
                            </ul>

                        </div>
                    </div>
                }

                <div class="col-xs-12 mb-15">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-right">#</th>
                                <th class="text-right">عنوان</th>
                                <th class="text-right">واحد</th>
                                <th class="text-right">قیمت واحد</th>
                                <th class="text-right">تعداد</th>
                                <th class="text-right">قیمت(@LocalMessage.MoneyCurrency)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td>@(Model.OrderItems.ToList().IndexOf(item) + 1)</td>
                                    <td>@item.Name</td>
                                    <td>@(item.PricingItemUnitText ?? PricingItemUnit.Page.GetLocalizeDescription())</td>
                                    <td>@(Model.LangType == LangType.Fa_En ? item.Price : item.Price_OthersLang)</td>
                                    <td>@item.Count</td>
                                    <td>@item.CalculateTotalPrice(Model.LangType)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-success">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <label>جمع کل: <strong>@Model.OrderItems.Sum(x => x.CalculateTotalPrice(Model.LangType)).ToString("N0") @LocalMessage.MoneyCurrency</strong></label>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label>مبلغ پرداخت شده: <strong>@(((int)ViewBag.PayedPrice).ToString("N0")) @LocalMessage.MoneyCurrency</strong></label>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <label>مبلغ قابل پرداخت: <strong>@(((int)ViewBag.Price).ToString("N0")) @LocalMessage.MoneyCurrency</strong></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12  col-sm-12">
        <div class="row d-flex mb-15">
            <div class="col-xs-12 col-sm-6 draft">


            </div>
            <div class="col-xs-12 col-sm-6">
                <button type="button" data-url="@Url.Action(MVC.Home.ActionNames.Submit,MVC.Order.Name)" class="btn-action rtl waves-effect" id="btn-submit">
                    <div class="text">
                        @LocalMessage.Payment
                    </div>
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                </button>
            </div>
        </div>

    </div>
</form>
@section footer{
    <script>
        var completePayment = @completePayment.ToString().ToLower();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa_C42jDWvco-ZAni9pltEALfP9kQvv8g"></script>
    <script src="@Url.Content(Links.Scripts.Plugins.Flickity.flickity_pkgd_min_js)"></script>
    <script src="@Url.Content(Links.Scripts.Plugins.Flickity.flickity_pkgd_min_js)"></script>
    <script src="@Url.Content(Links.Scripts.Console.address_js)"></script>
    <script src="@Url.Content(Links.Scripts.Plugins.SweetAlert.sweetalert_min_js)"></script>
    <script src="@Url.Content(Links.Scripts.Console._03_EndUser.Home.payment_js)"></script>
}
